* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*  Event Dashboard      */
.event-dashboard {
  margin: 5rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: 65% 35%;
}
.e-form button {
  font-size: 1.2rem;
  padding: 10px 25px;
  background: #4d8ff3;
  border: none;
  border-radius: 5px;
  border: 2px solid #002763;
  white-space: nowrap;
}
.e-form button:hover {
  background: rgb(138, 208, 229);
  cursor: pointer;
}
.e-form {
  margin-left: 5rem;
}

/* Navigation */
.main-head {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.main-head nav {
  display: flex;
}
.main-head h1 {
  padding: 0.5rem 0 0 0.5rem;
  flex: 1 1 20rem;
  font-family: "Special Elite", cursive;
  font-size: 3rem;
  color: rgb(11, 20, 148);
}
.main-head ul {
  flex: 1 1 80rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}
.main-head li {
  position: relative;
}
.main-head li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: 0.25s linear;
}
.main-head li a:hover:before,
.main-head li a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}
.main-head div {
  margin-right: 5px;
  flex: 1 1 20rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.main-head div a {
  font-size: 1.2rem;
  white-space: nowrap;
}
.main-head div a:hover {
  text-shadow: 2px 2px 8px black;
}
.main-head svg {
  margin-right: 5px;
}

/* Event List Item*/
.event-list-item {
  margin-bottom: 20px;
  box-shadow: 5px 5px 5px #919191;
}
.el-header {
  display: flex;
  flex-wrap: wrap;
  border: solid 1px #919191;
  border-radius: 5px 5px 0px 0px;
}
.el-profile-picture {
  height: 10rem;
  width: 10rem;
  padding: 10px;
}
.el-profile-picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
}
.el-title {
  margin: auto 0 auto 10px;
}
.el-time {
  min-height: 3rem;
  border-left: 1px solid #919191;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.el-time svg {
  margin: 0 5px 0 5px;
}
.el-attendees {
  min-height: 5rem;
  border-left: 1px solid #919191;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
  background: #d4f7fa;
  display: flex;
}
.el-footer {
  min-height: 3rem;
  border-left: 1px solid #919191;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.el-footer span {
  padding: 10px 20px;
}
.el-footer button {
  margin-right: 10px;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 8rem;
  background: #4d8ff3;
  border: none;
  border-radius: 5px;
  border: 2px solid #002763;
}
.el-footer button:hover {
  background: rgb(138, 208, 229);
  cursor: pointer;
}

/*  Attendee */
.attendee {
  height: 5rem;
  width: 5rem;
  margin: 0 5px;
}
.attendee img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* Event Form */
.event-form label {
  display: block;
  font-size: 1.5rem;
  padding: 10px 0;
}
.event-form input {
  display: block;
  font-size: 1.2rem;
  height: 2.5rem;
  width: 100%;
}
.event-form input,
textarea {
  padding: 10px;
}
.form-submit {
  margin-top: 3rem;
}
